div
    table.table
        tr
            th Title
            th Length
            th Rating
            th
        tr(ng-repeat='movie in movieListCtrl.movies')
            td {{movie.title}}
            td {{movie.length}}
            td
                movie-rating(value='movie.rating')
                    span.glyphicon.glyphicon-star
            td
                .btn-group
                    button.btn.btn-default(ng-click='movieListCtrl.upRating(movie)')
                        span.glyphicon.glyphicon-plus
                    button.btn.btn-default(ng-click='movieListCtrl.downRating(movie)')
                        span.glyphicon.glyphicon-minus
                    a.btn.btn-default(ng-link="['Details', {id: movie.id}]")
                        span.glyphicon.glyphicon-zoom-in
