div
    table.table
        tr
            th Title
            th Length
            th Rating
            th
        tr(ng-repeat='movie in movieListCtrl.movies')
            td {{movie.title}}
            td {{movie.length}}
            td
                movie-rating(max='5', value='movie.rating',
                set-rating='movieListCtrl.setRating(movie, value)')
            td
                .btn-group
                    button.btn.btn-default(ng-click='movieListCtrl.upRating(movie)')
                        span.glyphicon.glyphicon-plus
                    button.btn.btn-default(ng-click='movieListCtrl.downRating(movie)')
                        span.glyphicon.glyphicon-minus
                    a.btn.btn-default(ng-link="['Details', {id: movie.id}, 'Overview']")
                        span.glyphicon.glyphicon-zoom-in

    accordion
        accordion-panel(heading='Panel 1') This is panel 1
        accordion-panel(heading='Panel 2') This is panel 2
