{
    "root": true,
    "extends": "airbnb-base",
    "rules": {
        //Style
        "indent": [
            2,
            4
        ],

        //Variables
        "no-param-reassign": 0,

        //Error
        "comma-dangle": [2, "never"],
        "spaced-comment": 0
    }
}
