back
    .btn.btn-default
        span.glyphicon.glyphicon-arrow-left
h3 {{ movieDetailsCtrl.movie.title }}
h3 Length {{ movieDetailsCtrl.movie.length}}
h3 Rating {{ movieDetailsCtrl.movie.rating }}

hr

ul
    li
        a(ng-link="['Overview']") Overview
    li
        a(ng-link="['Cast']") Cast
    li
        a(ng-link="['Director']") Director

hr

ng-outlet
