.panel.panel-default
    .panel-heading(ng-click='accordionPanelCtrl.select()')
        h4.panel-title {{accordionPanelCtrl.heading}}
    .panel-body(ng-transclude, ng-if='accordionPanelCtrl.selected')
