nav.navbar.navbar-default.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(ng-link="['List']") At The Movies
        ul.nav.navbar-nav.navbar-left
            li
                a(ng-link="['List']") List
            li
                a(ng-link="['About']") About
.container
    ng-outlet
