html(ng-app='app')
    head
        link(rel='stylesheet', href='styles.css')
    body(class='ng-cloak')
        nav.navbar.navbar-default.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') At The Movies
                ul.nav.navbar-nav.navbar-left
                    li
                        a(ui-sref='list') List
                    li
                        a(ui-sref='about') About
        .container
            app Loading...
        script(src='common.js')
        script(src='app.js')
