html(ng-app)
    head
        link(rel='stylesheet', href='styles.css')
    body(class='ng-cloak')
        nav.navbar.navbar-default.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') At The Movies
        .container
            | Hello!
            | {{ 1 + 2 }}
        app Loading...
        script(src='common.js')
        script(src='app.js')
